.window {
    position: absolute;
    z-index: 1000;
    right: -15.5rem;
    top: -2.5rem;
    width: 15rem;
    height: 20rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(to bottom, rgb(245, 245, 245), 5rem, white, 18rem,  rgb(245, 245, 245) 100%);
}

.container {
    position: relative;
    height: 100%; 
    width: 100%;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    font-size: .75rem;
    font-weight: 500;
    color: #1e1e1e;
}