.label {
    height: 1.5rem;
    border-bottom: 2px solid #1e1e1e;
    border-top: 2px solid #1e1e1e;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-days {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.04rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1.1875rem;
}

.grid:last-of-type {
    border-bottom: 2px solid #1e1e1e;
}

.row {
    display: contents;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1e1e1e;
    font-size: 0.875rem;
    letter-spacing: -0.06rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.time:last-of-type {
    border-right: none;
}
.time:first-of-type {
    border-left: none;
}