.admin-lines-list-container {
    display: flex;
    width: calc(100vw - 18rem);
    height: calc(100vh - 3rem);
    background-color: #fff;
}

.admin-lines-list {
    width: 20%;
    height: calc(100vh - 3rem);
}

.line-details {
    width: 50%;
    height: calc(100vh - 3rem);
    border-left: 1px solid #D4D4D4;
    position: relative;
}

.admin-lines-list-label-box,
.line-details-label-box {
    height: 3rem;
    border-bottom: 1px solid #D4D4D4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.admin-lines-list-label,
.line-details-label {
    font-size: 1.25rem;
    font-weight: 500;
    color: #1e1e1e;
}



