.container {
width: 30rem;
z-index: 2;
background: linear-gradient(164.98deg, #53B2FF 2.74%, #1E87FF 21.4%, #30A2FF 43.46%, #279CFF 57.89%, #128DFF 64.36%, #118CFF 71.9%, #0056D8 87.59%);
position: relative;
}

