.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #e6e6e6;
}